[Unit]
Description=Tindegram
After=multi-user.target

[Service]
Type=simple
ExecStart=/apps/Tindegram/.venv/bin/python /apps/Tindegram/manage.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
